@media (max-width: 1380px) {
    .aside {
        width: 280px;
    }

    .wrapper__card {
        margin-left: 25px;
    }
}


@media (max-width: 1070px) {
    .greeting {
        margin: 0px 0 0 20px;
        font-size: 24px;
       }
    
    .wrapper__card {
        margin-left: 0;
    }
    .card {
        margin-top: 20px;
        scale: 0.95;
        &__headings {
            font-size: 13px;
        }
        &__item {
            font-size: 13px;
        }
    }

}

@media (max-width: 1020px) {
    .aside {
        width: 260px;
    }
}

@media (max-width: 998px) {
    
    .menu {
        &__list {
            margin-left: 20px;
        }
    }

    .aside {
        z-index: 100;
        position: absolute;
        top: 0;
        left: -100%;
        width: 40%;
        padding: 20px 15px;
        transition: 0.6s all;
        &-open {
            left: 0;
        }
    }

    .list__wrapper {
        height: calc(100vh - 130px);
    }

    .user {
        padding-bottom: 0;
    }

    .hamburger {
        z-index: 1000;
        display: block;
        position: absolute;
        right: 30px;
        top: 40px;
        transform: translateY(-50%);
        width: 30px;
        height: 12px;
        span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: black;
            margin-bottom: 4px;
            transition: 0.5s all;
        }
        &-active {
            span {
                margin-bottom: -2px;
                &:nth-child(1) {
                    transform: translateY(5px) rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: translateY(5px) rotate(45deg);
                }
            }
        }
    }

   .wrapper__card {
    z-index: 1;
    width: 99%;
    margin: 0 auto;
    padding: 7px;
   }

   .greeting {
    margin: 30px 0 0 30px;
    font-size: 24px;
   }

   .card {
    margin-top: 30px;
        &__header {
            margin: 50px 30px 0 30px;
            height: 35px;
        }
        &__name {
            font-size: 20px;
        }
        &__condition {
            margin-top: 2px;
            font-size: 15px;
            line-height: 10px;
        }
        &__search__input {
            margin: 0;
            width: 40%;
            input {
                width: 100%;
            }
        }
        &__list {
            margin-top: 40px;
            display: block;
        }
        &__headings {
            display: none;
        }
        &__item {
            margin: 0 30px 0 25px;
            padding: 15px 0 15px 0;
            display: block;
            font-size: 15px;
            > div::before {
                color: #B5B7C0;
                flex: 0 0 50%;
                padding-left: 5px;
                white-space: nowrap;
                min-width: 150px;
                display: flex;
                align-items: center;
                margin-bottom: 10px;
            }
            &__name {
                display: flex;
                width: 100%;
                &::before {
                    content: 'Customer Name';
                }
            }
            &__company {
                display: flex;
                width: 100%;
                &::before {
                    content: 'Company';
                }
            }
            &__number {
                display: flex;
                width: 100%;
                &::before {
                    content: 'Phone Number';
                }
            }
            &__email {
                display: flex;
                width: 100%;
                &::before {
                    content: 'Email';
                }
            }
            &__country {
                display: flex;
                width: 100%;
                &::before {
                    content: 'Country';
                }
            }
            &__status {
                &__wrapper {
                    display: flex;
                    width: 100%;
                    &::before {
                        content: 'Status';
                        margin-bottom: 0 !important;
                    }
                }
            }
        }
        &__quantity {
            margin: 80px auto;
            flex-direction: column-reverse;
            &__pages {
                margin-top: 10px;
                scale: 1.5;
            }
            &__amount {
                margin-top: 20px;
            }
        }
    }
}

@media (max-width: 768px) {
    .aside {
        width: 55%;
    }


    .greeting {
        margin: 20px 0 0 20px;
        font-size: 20px;
    }

    .card {
        &__header {
            margin: 40px 30px 0 30px;
        }
    }

}

@media (max-width: 576px) {
    .aside {
        width: 90%;
    }

    .menu {
        &__list {
            margin-left: 20px;
        }
    }

    .wrapper__card {
        padding: 3px;
    }

   .card {
        &__header {
            margin: 30px 15px 0 15px;
        }
        &__name {
            font-size: 15px;
        }
        &__condition {
            font-size: 12px;
        }
        &__search__input {
            margin: 0;
            width: 150px;
        }
        &__item {
            margin: 0 10px 0 10px;
            font-size: 12px;
        }
        &__quantity {
            &__pages {
                scale: 1.05;
            }
        }
    }
}

